# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
out/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Testing
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
logs/

# Redis
dump.rdb

# Editors / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/build/

# Turborepo
.turbo/
