.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.packages
build/
coverage/
*.iml
*.lock
.DS_Store
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
linux/flutter/ephemeral/
macos/flutter/ephemeral/
windows/flutter/ephemeral/
web/index.html
.env
*.jks
key.properties
google-services.json
GoogleService-Info.plist
